{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inicio</title>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
  <link rel="stylesheet" type="text/css" href='{% static 'css/inicio/font-awesome.min.css' %}'>
  <link rel="stylesheet" type="text/css" href='{% static 'css/inicio/bootstrap.min.css' %}'>
  <link rel="stylesheet" type="text/css" href='{% static 'css/inicio/style.css' %}'>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  <section id="banner" class="banner" style="background-image: url('{% static 'imagenes/bg-banner.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: center">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#banner">Inicio</a></li>
                <li class=""><a href="#service">Servicios</a></li>
                <li class=""><a href="#about">Acerca de nosotros</a></li>
                <li class=""><a href="#contact">Contacto</a></li>
                <li class=""><a href="{% url 'login' %}">Entrar</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <div class="banner-logo text-center">

            </div>
            <div class="banner-text text-center">
              <h1 class="white">Atención médica en su escritorio!!</h1>
              <p>En nuestra plataforma, simplificamos la gestión de la salud.  <br>Programa tus citas médicas, accede a tu historial clínico y recibe atención con los mejores.</p>
              <a href="#contact" class="btn btn-appoint">Contacto</a>
            </div>
            <div class="overlay-detail text-center">
              <a href="#service"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ banner-->
  <!--service-->
  <section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">Otros Servicios</h2>
          <hr class="botm-line">
          <p>Comprometidos con la Excelencia: Ofrecemos soluciones personalizadas para satisfacer tus necesidades únicas. Nuestro equipo dedicado garantiza un servicio de alta calidad que supera las expectativas.</p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-ambulance"></i>
            </div>
            <div class="icon-info">
              <h4>Servicios de emergencia</h4>
              <p>Atención Inmediata: Nuestro equipo de servicios de emergencia está preparado para responder rápidamente a cualquier situación crítica. Proporcionamos atención médica urgente con la máxima eficiencia y cuidado.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-user-md"></i>
            </div>
            <div class="icon-info">
              <h4>Consejería Médica</h4>
              <p>Orientación Profesional: Recibe asesoramiento médico experto de nuestros profesionales de la salud certificados. Ofrecemos consultas confidenciales para abordar tus preocupaciones de salud con cuidado y comprensión.</p>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-medkit"></i>
            </div>
            <div class="icon-info">
              <h4>Atención médica premium</h4>
              <p>Cuidado de Primera Clase: Ofrecemos servicios de salud premium que incluyen tratamientos avanzados y atención personalizada. Nuestro objetivo es proporcionar la mejor atención médica posible para tu bienestar.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ service-->
  <!--cta-->
  <section id="cta-1" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="schedule-tab">
          <div class="col-md-4 col-sm-4">
            <div class="medi-info">
              <h3>Atención en Casos de Emergencia</h3>
              <p>En situaciones críticas, puedes confiar en nosotros para recibir atención médica rápida y eficiente. Nuestro equipo está preparado para responder a emergencias y brindarte el soporte que necesitas. No importa el momento, estamos listos para ayudarte. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 mt-boxy-3">
            <div class="mt-boxy-color"></div>
            <div class="time-info">
              <h3>Horario de atención</h3>
              <table style="margin: 8px 0px 0px;" border="1">
                <tbody>
                  <tr>
                    <td>Lunes - Viernes</td>
                    <td>7.00 a.m. - 7.00 p.m.</td>
                  </tr>
                  <tr>
                    <td>Sábado</td>
                    <td>Cerrado</td>
                  </tr>
                  <tr>
                    <td>Domingo</td>
                    <td>Cerrado</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--cta-->
  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">Visión</h2>
            <hr class="botm-line">
            <p class="sec-para">Nuestra visión es transformar la atención médica en una experiencia accesible, eficiente y personalizada para todos. Nos esforzamos por integrar la tecnología con el cuidado de la salud, facilitando a los pacientes el acceso a servicios médicos de calidad. Nuestro objetivo es empoderar a cada individuo para que tome el control de su bienestar, ofreciendo herramientas que simplifiquen la gestión de citas, el acceso a expedientes médicos y la comunicación con profesionales de la salud.</p>
          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Recordatorios Automáticos de Citas.</h3>
                <p>Nunca olvides una cita médica. Nuestro sistema envía recordatorios automáticos para que estés siempre al tanto de tus compromisos médicos.</p>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Fácil Acceso a tu Información Médica.</h3>
                <p>Mantén tu historial médico al alcance de tu mano. Nuestra plataforma te permite acceder fácilmente a tu información médica, incluyendo diagnósticos, tratamientos y resultados de pruebas, desde cualquier dispositivo y en cualquier momento.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ about-->
  <!--cta 2-->
  <section id="cta-2" class="section-padding">
    <div class="container">
      <div class=" row">
        <div class="col-md-2"></div>
        <div class="text-right-md col-md-4 col-sm-4">
          <h2 class="section-title white lg-line">« Unas palabras<br> sobre nosotros »</h2>
        </div>
        <div class="col-md-4 col-sm-5">
          Nuestra misión es mejorar la accesibilidad y eficiencia de la atención médica. Nos comprometemos a proporcionar una gestión de salud integral y personalizada, conectando a pacientes y profesionales de la salud de manera fácil y segura. Creemos en la importancia de un cuidado de calidad y estamos aquí para hacer tu experiencia más cómoda y accesible.
          <p class="text-right text-primary"><i>— Admin</i></p>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>
  <!--cta-->
  <!--contact-->
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="ser-title">Contáctenos</h2>
          <hr class="botm-line">
        </div>
        <div class="col-md-4 col-sm-4">
          <h3>Datos de contacto</h3>
          <div class="space"></div>
          <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Universidad Nacional Autonoma de Honduras<br> Ciudad Universitaria</p>
          <div class="space"></div>
          <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>yordy.castro@unah.hn</p>
          <div class="space"></div>
          <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+504 8789-0677</p>
        </div>
        <div class="col-md-8 col-sm-8 marb20">
          <div class="contact-info">
            <h3 class="cnt-ttl">Tienes alguna consulta!</h3>
            <div class="space"></div>
            <div id="sendmessage">Tu mensaje ha sido enviado. Gracias!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Tu nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Tu correo electrónico" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                <div class="validation"></div>
              </div>

              <div class="form-action">
                <button type="submit" class="btn btn-form">Enviar mensaje</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ contact-->
  <!--footer-->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 marb20">
            <div class="info-sec">
              <p>“La salud no lo es todo, pero sin ella, todo lo demás es nada.”</p>
              <p class="text-right text-primary"><i>- Arthur Schopenhauer</i></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Enlaces rápidos</h4>
            </div>
            <div class="info-sec">
              <ul class="quick-info">
                <li><a href="index.html"><i class="fa fa-circle"></i>Inicio</a></li>
                <li><a href="#service"><i class="fa fa-circle"></i>Servicios</a></li>
                <li><a href="#contact"><i class="fa fa-circle"></i>Contacto</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 marb20">
            <div class="ftr-tle">
              <h4 class="white no-padding">Follow us</h4>
            </div>
            <div class="info-sec">
              <ul class="social-icon">
                <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                <li class="bgred"><i class="fa fa-google-plus"></i></li>
                <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            © Copyright. All Rights Reserved
            <div class="credits">
              Designed by
              <li>David Destéphen</li>
              <li>Elvin Midence</li>
              <li>Hugo Cerrato</li>
              <li>Hugo Ramirez</li>
              <li>Yordy Castro</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ footer-->

  <script src='{% static "js/inicio/jquery.min.js" %}'></script>
  <script src='{% static "js/inicio/jquery.easing.min.js" %}'></script>
  <script src='{% static "js/inicio/bootstrap.min.js" %}'></script>
  <script src='{% static "js/inicio/custom.js" %}'></script>
  <script src='{% static "js/inicio/contactform.js" %}'></script>

</body>

</html>
